<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/build" method="POST">

        <div class="">
            <label for="">day</label>
            <input name="day" type="text">
        </div>
        <div class="">
            <label for="">status</label>
            <input name="element" type="text">
        </div>
        <div class="">
            <label for="">element</label>
            <input name="status" type="text">
        </div>
        <button type="submit">build</button>

    </form>
</body>

</html>